<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
    <h1> About Me </h1>
        <p> Hi! My name is Karen Nguy! I am currently a <strong> senior </strong> at the University of Maryland,
            Robert H. Smith School of Business. I am <strong> double majoring </strong> in Finance and Information Systems,
            with the hopes of pursuing a <em> financial data driven </em> career. </p>
    <h2> Professional Aspirations </h2>
        <p> As I begin my professional career, I hope to develop knowledge and skills connected to programming. As the
        world shifts technologically, I find that understanding the basic knowledge on how systems are run,
    will be a <em> rewarding </em> skill to have. I hope to fulfill my passion in financial planning and analysis through
        creating resources for efficiency. </p>
    <h2> Academic Aspirations </h2>
        <p> As my college career is reaching its end, I plan to continue my education after experiencing the working world.
        I hope to return for my masters after about 2 years -- due to my appetite for knowledge. Learning is a major
        part of who I am, and I would like to continue learning wherever I go. Here are some courses I've taken: </p>
    <table>
        <tr>
            <th> Courses </th>
            <th> Semester Taken </th>
            <th> Credits </th>
        </tr>
        <tr>
            <th> BMGT 407 </th>
            <th> Spring 2023 </th>
            <th> 3 </th>
        </tr>
        <tr>
            <th> BMGT 445 </th>
            <th> Spring 2023 </th>
            <th> 3 </th>
        </tr>
        <tr>
            <th> BMGT 444 </th>
            <th> Spring 2023 </th>
            <th> 3 </th>
        </tr>
        <tr>
            <th> BMGT 332 </th>
            <th> Spring 2023 </th>
            <th> 3 </th>
        </tr>
    </table>
        <p> If you'd like to see what I've done in my BMGT 407 course, <a href="/hello"> click here</a>.</p>

        <!--this is my code for my logo -->
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="UMD Logo" width="267" height="72" >
    <h2> Personal Life </h2>
        <p> Although there is not much else I do besides going to school and working, I find joy in many outdoor activities.
            In my free time, I enjoy: </p>
    <!--this is my unordered lists of activities I enjoy -->
        <ul>
            <li> Snowboarding </li>
            <li> Traveling to tropical places</li>
            <li> Cruising through the sea</li>
            <li> Enjoying the world around me</li>
        </ul>
    <!--added my links so that when Yelp is clicked, it opens in a new page -->
        <p> I am also a big food enthusiast. I enjoy traveling to food cities and trying all that they have to offer.
            I utilize <a href="https://www.yelp.com/" target="_blank"> Yelp </a> for a lot of my findings, but I also
            use <a href="https://www.tripadvisor.com/"> Trip Advisor </a>.
            If I had to rank my most favorite foods to try, they would be:</p>
        <ol>
            <li> Sushi (or Poki Bowls)</li>
            <li> Rice dishes</li>
            <li> Any creamy pasta</li>
            <li> Noodle Soups</li>
        </ol>
</body>
</html>